<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>医保动态--文字列表</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/style.min.css">
    <link rel="stylesheet" href="css/pageCSS/style.css">
</head>
<body>

<div th:include="common/top :: top"></div>

<!--面包屑-->
<div id="breadcrumb" class="d-none d-sm-block">
    <nav aria-label="breadcrumb" class="container">
        <div class="row">
            <div class="col-12">
                <ol class="col-12 breadcrumb">
                    <li class="breadcrumb-item"><a href="/index.html">首页</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a href="toMedicalNews">医保动态</a></li>
                    <li class="breadcrumb-item active" aria-current="page">更多</li>
                </ol>
            </div>
        </div>
    </nav>
</div>

<!--间隔线条-->
<hr class="d-block d-sm-none interval">

<div class="container">
    <div class="row">
        <!--医保动态文字新闻列表-->
        <div class="col-12">
            <div class="commonTitle">
                <h3>医保动态</h3>
                <a href="">更多</a>
            </div>
            <ul id="textNews" class="healthList">
            </ul>

             <div id="pagination">
             </div>
        </div>
    </div>
</div>

<div th:include="common/bottom :: bottom"></div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.paginate.js"></script>
<script src="js/news/textNews.js"></script>
</body>
</html>