<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.InformationMapper">

	<select id="getInfomation" resultType="com.model.Information">
		select id,sponser,identification,copyright,icpcode,toplogo,bottomimg1,bottomimg2,longitude,latitude
		from Information
		where rownum &lt; 2
		order by id desc

	</select>

	<select id="getAboutUs" resultType="com.model.Information">
		select id,about_us as aboutUs from Information where rownum &lt; 2 order by id desc
	</select>

	<select id="getCallUs" resultType="com.model.Information">
		select id,call_us as callUs from Information where rownum &lt; 2 order by id desc
	</select>

	<select id="getLegalStatement" resultType="com.model.Information">
		select id,legal_statement as legalStatement from Information where rownum &lt; 2 order by id desc
	</select>

  

</mapper>